@{
    ViewData["Title"] = "Home Page";
}
<style>
	
    
    body{background-color:deepskyblue}
    
    h2{background-color: aquamarine;
    border:6px solid gray}
    

</style>

<div class="text-center">
    <h2 class="display-4">Desafio final</h2>

    <h2 class="display-4">Controle de rémedios</h2>

    <h2 class="display-4">Matheus Fortes dos Santos de Oliveira</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
